<div class="top-nav-bar">
    <p> Titulo</p>
    <div class="jogador-log">
        <label>Jogador:</label>
        <label>Player</label>
    </div>
</div>
<h3> Titulo</h3>

<div class="container">
    <br />
    <div class="container-form">
        <label>Name:<input /> </label><label>Idade:<input /></label>
        <br />
        <label>Altura:<input /></label><label>Peso:<input /></label>
        <br /><label>Cabelo:<input /></label><label>Olhos:<input /></label>
        <br />
        <label> Aparencia/Personalidade:<textarea></textarea></label>
        <br />
        <br />
        <label>Cenario:<input /></label>
        <label>Aventura/Campanha:<input /></label>
        <br />
        <br />
        <label>PVs:<input /></label>
        <label>PEs:<input /></label>
        <label>Armadura:<input /></label>
        <ul>
            <label>Atributos</label>
            <li><label>FOR:<input /></label></li>
            <li><label>DES:<input /></label></li>
            <li><label>CON:<input /></label></li>
            <li><label>INT:<input /></label></li>
            <li><label>SAB:<input /></label></li>
            <li><label>CAR:<input /></label></li><br />
            <li><label>Poder:<input /></label></li>
        </ul>

        <label>Combate:<input /></label>

    </div>
</div>